.foot .foot2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 1%;
}

.foot{
    position: fixed;
    z-index: 999;
    width: 100%;

}

.foot p{
    text-align: center;
    font-weight: bold;
}